{% extends 'base.html' %}

{% block content %}
    <div class="container py-4">
        <div>
            {% for cafe in cafes %}
            <div class="card mb-3" style="max-width: 840px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ cafe.img_url or '../static/images/coffee_avatar.jpg' }}" class="img-fluid rounded-start" alt="..." style="height: 100%;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">{{ cafe.name }}</h5>
                        </div>
                        <div class="row">
                            <p class="card-text col-6"><em>Location:</em> {{ cafe.location }}</p>
                            <a class="underlined pointer col-6 map-view" href="{{ cafe.map_url }}" target="_blank">View Map</a>
                        </div>
                        <ul class="list-unstyled">
                            <li><em>Seats:</em> {{ cafe.seats }}</li>
                            <li><em>Sockets:</em> {{ 'YES' if cafe.has_sockets == 1 else 'NO' }}</li>
                            <li><em>WiFi:</em> {{ 'YES' if cafe.has_wifi == 1 else 'NO' }}</li>
                            <li><em>Allows Calls:</em> {{ 'YES' if cafe.can_take_calls == 1 else 'NO' }}</li>
                        </ul>
                        <div>
                            <p><em>Price:</em> <strong>{{ cafe.coffee_price }}</strong></p>
                            <a class="danger underlined-none" href="{{ url_for('remove', cafe_name=cafe.name) }}">remove</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
