{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div>
            <div class="card" style="width: 18rem;">
              <img src="../static/images/cafe_placeholder.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cafe Name</h5>
                <p><strong>Location:</strong> England</p>
                <ul class="list-unstyled">
                    <li>Sockets: </li>
                    <li>WiFi: </li>
                    <li>Accept Calls: </li>
                    <li>Seats Capacity: </li>
                    <li>Coffee Price: </li>
                </ul>
                <a href="#" class="btn " style="background-color: brown;color: white">View Page</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
